body {background-color: rgb(253, 246, 220);} 
h1   {
    color: rgb(255, 134, 198);
    font-size: 40px;
    font-family: "serif";
}
p    {
    color: rgb(9, 0, 0);
    font-size: 20px;
    font-family: "Lucia Grande";
}
body {
    font-family:"Avenir Next";
}
li {
    list-style: none
}
.header {
    background-color: rgb(253, 220, 235);
    color: #181717;
    height: 90px;
}
.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}
.header-list li {
    float: left;
    padding: 33px 20px;
}