body {background-color: rgb(253, 246, 220);} 
h1   {
    color: rgb(255, 134, 198);
    font-size: 40px;
    font-family: "serif";
}
p    {
    color: rgb(9, 0, 0);
    font-size: 20px;
    font-family: "Lucia Grande";
}
